{% extends 'master.html' %}
{% load static %}
{% block title %}
  Maintenance | Multiplier ltd
{% endblock %}
{% block styles %}
  <link href="{% static 'css/fleet/maintenance.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
  {% if maintenance_info %}
    <div class="maintenance_info">
      <h5>Maintenance information..</h5><hr class="my-1" />
      <div class="info">
        <div>
          <b>Record date:</b> &nbsp; 29-Feb-2024 16:52:46
        </div>
        <div>
          <b>Recorded by:</b> &nbsp; Jonathan Masawe
        </div>
        <div>
          <b>Last edited by:</b> &nbsp; -
        </div>
        <div>
          <b>Maintenance date:</b> &nbsp; 28-Feb-2024
        </div>
        <div>
          <b>Maintenance Type:</b> &nbsp; <a href="{% url 'truck_details' 5 %}" class="d-inline-block px-2">Truck/Trailer</a>
        </div>
        <div>
          <b>Maintenance Cost:</b> &nbsp; 450,000 TZS
        </div>
        <div class="d-block w-100">
          <b>Maintenance Description:</b> &nbsp; Any random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph
        </div>

        <div class="d-block w-100 py-3">
          <button type="button" class="btn btn-bblue text-white d-inline-block m-2" id="maintenance_update_info_btn">Update info</button>
          <button type="button" class="btn btn-warning d-inline-block m-2" id="maintenance_hide_btn">Hide</button>
          <button type="button" class="btn btn-danger d-inline-block m-2" id="maintenance_delete_btn">Delete</button>
        </div>
      </div>
    </div>
  {% else %}
    <div class="searchdiv input-group w-100 float-start">
      <input type="text" class="form-control text-ttxt fs-5" id="maintenances_search" placeholder="Search.." autocomplete="off" />
      <button type="button" class="btn btn-bblue text-white ms-1" id="maintenance_filter_clear" title="Clear filters"><i class="fas fa-refresh"></i></button>
      <button class="btn btn-success text-white ms-1" type="button" title="Add new maintenance" data-bs-toggle="offcanvas" data-bs-target="#new_maintenance_canvas"><i class="fas fa-plus-circle"></i></button>
    </div>

    <div class="d-block w-100 float-start my-2 table-responsive">
      <table class="table text-ttxt table-striped" id="maintenances_table">
        <thead>
          <tr class="bg-bblight text-white text-center">
            <th class="text-center">S/n</th>
            <th class="text-center">Date</th>
            <th class="text-center">Type</th>
            <th class="text-center">Cost</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody class="text-ttxt">
          <tr>
            <td class="align-middle">1</td>
            <td class="align-middle">28-Feb-2024</td>
            <td class="align-middle">Truck</td>
            <td class="align-middle">115,000 TZS</td>
            <td class="align-middle">
              <a class="btn btn-bblue" href="{% url 'maintenance_details' 5 %}">View</a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">2</td>
            <td class="align-middle">25-Feb-2024</td>
            <td class="align-middle">Trailer</td>
            <td class="align-middle">75,000 TZS</td>
            <td class="align-middle">
              <a class="btn btn-bblue" href="{% url 'maintenance_details' 3 %}">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="offcanvas offcanvas-start" id="new_maintenance_canvas">
      <div class="offcanvas-header bg-bblue">
        <h3 class="offcanvas-title text-white">Add new maintenance..</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-llight">
        <form class="d-block w-100 float-start">
          <div class="formsms w-100 float-start my-1"></div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="date" max="{% now 'Y-m-d' %}" class="form-control text-ttxt fs-6" id="maint_date" placeholder="d" />
            <label for="maint_date" class="text-ttxt fs-6">Maintenance date</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt" id="maint_type" required>
              <option value="">No type selected</option>
              <option value="Truck">Truck</option>
              <option value="Trailer">Trailer</option>
            </select>
            <label class="form-label text-ttxt" for="maint_type">Select type</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <textarea class="form-control text-ttxt" id="maint_description" placeholder="d" style="min-height:150px;"></textarea>
            <label for="maint_description" class="text-ttxt">Permit description (optional)</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-3 text-end">
            <button type="button" class="btn btn-danger d-inline-block me-2" data-bs-dismiss="offcanvas">Cancel</button>
            <button type="submit" class="btn btn-success d-inline-block" id="new_permit_submit_btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/fleet/permits.js' %}"></script>
{% endblock %}
