{% extends 'master.html' %}
{% load tmp_filters %}
{% load static %}
{% block title %}
  Trucks | Multiplier ltd
{% endblock %}
{% block styles %}
  <link href="{% static 'css/fleet/trucks.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
  {% if truck_info %}
    <div class="info_truck">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#truck_basic_info">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#truck_trips">Trips</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#truck_permits">Permits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#truck_maintenance">Maintenance</a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#truck_gps">GPS tracker</a>
        </li>
      </ul>

      <div class="tab_container">
        <div id="truck_basic_info" class="tab_div">
          <h5>Truck information..</h5><hr class="my-1" />
          <div class="info">
            <div>
              <b>Reg. date:</b> &nbsp; {{ truck.regdate }}
            </div>
            <div>
              <b>Registered by:</b> &nbsp; {{ truck.regby }}
            </div>
            <div>
              <b>Last edited on:</b> &nbsp; {{ truck.lastEdit }}
            </div>
            <div>
              <b>Last edited by:</b> &nbsp; {{ truck.editby }}
            </div>
            <hr class="d-block w-100 my-3" />
            <div>
              <b>Reg. Number:</b> &nbsp; {{ truck.reg }}
            </div>
            <div>
              <b>Truck type:</b> &nbsp; {{ truck.type }}
            </div>
            <div>
              <b>Truck Model:</b> &nbsp; {{ truck.model }}
            </div>
            <div>
              <b>Horse type:</b> &nbsp; {{ truck.horse }}
            </div>
            <hr class="d-block w-100 my-3" />
            <div>
              {% if truck.trailer_id %}
                <b>Trailer:</b> &nbsp; <a href="{% url 'trailer_details' truck.trailer_id %}" class="d-inline-block px-2">{{ truck.trailer_number }}</a>
              {% else %}
                <b>Trailer:</b> &nbsp; N/A
              {% endif %}
            </div>
            <div>
              {% if truck.driver_id %}
                <b>Driver:</b> &nbsp; <a href="{% url 'driver_details' truck.driver_id %}" class="d-inline-block px-2">{{ truck.driver_name }}</a>
              {% else %}
                <b>Driver:</b> &nbsp; N/A
              {% endif %}
            </div>
            <hr class="d-block w-100 my-3" />
            <div class="d-block w-100">
              <b>Description:</b> &nbsp; {{ truck.info|linebreaks }}
            </div>

            <div class="d-block w-100 py-3">
              <button type="button" class="btn btn-bblue text-white d-inline-block m-2" data-bs-toggle="offcanvas" data-bs-target="#update_truck_canvas">Update</button>
              <button type="button" class="btn btn-danger d-inline-block m-2" data-bs-toggle="modal" data-bs-target="#confirm_delete_modal">Delete</button>
            </div>
          </div>
        </div>
        <div id="truck_trips" class="tab_div">
          <h5>Truck's trip history..</h5><hr class="my-1" />
          <div class="d-block w-100 float-start my-1 table-responsive">
            <table class="table text-ttxt text-center align-middle table-striped" id="truck_trips_table">
              <thead>
                <tr class="bg-bblight text-white text-center">
                  <th>S/n</th>
                  <th>TripType</th>
                  <th>StartDate</th>
                  <th>Destination</th>
                  <th>LastStatus</th>
                  <th>Completed</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for hist in trip_history %}
                  <tr>
                    <td>{{ hist.count }}</td>
                    <td class="text-start">{{ hist.triptype }}</td>
                    <td>{{ hist.startdate }}</td>
                    <td class="text-start">{{ hist.destination }}</td>
                    <td class="text-start">{{ hist.laststatus }}</td>
                    <td>{{ hist.complete }}</td>
                    <td>
                      <a class="btn btn-bblight btn-sm text-white" href="{{ hist.trip_url }}">View</a>
                    </td>
                  </tr>
                {% endfor %}
                {% if not trip_history %}
                  <tr>
                    <td colspan="7" class="py-4">No trip history found!</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div id="truck_gps" class="tab_div">
          <h5>Truck's gps tracker..</h5><hr class="my-1" />
        </div>
      </div>
    </div>

    <div class="offcanvas offcanvas-start" id="update_truck_canvas">
      <div class="offcanvas-header bg-bblue">
        <h5 class="offcanvas-title text-white">Update truck info..</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-llight">
        <form class="d-block w-100 float-start" action="{% url 'truck_operations' %}" id="update_truck_form" autocomplete="off">
          <div class="formsms w-100 float-start text-start my-1"></div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trk_regnumber" name="regnumber" placeholder="p" value="{{ truck.reg }}" required />
            <label for="trk_regnumber" class="form-label text-ttxt fs-6">Registration number</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trk_type" name="truckType" placeholder="p" value="{{ truck.type }}" required />
            <label for="trk_type" class="form-label text-ttxt fs-6">Truck type</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt fs-6" id="trk_horse" name="horseType" required>
              <option value="">--select--</option>
              <option value="Terias">Terias</option>
              <option value="Double diff">Double diff</option>
            </select>
            <label class="form-label text-ttxt fs-6" for="trk_horse">Select horse type</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trk_model" name="truckModel" placeholder="p" value="{{ truck.model }}" required />
            <label for="trk_model" class="form-label text-ttxt fs-6">Truck model</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt fs-6" id="trk_trailer" name="trailer">
              <option value="">--N/A--</option>
              {% for trl in trailers %}
                {% if trl.id == truck.trailer_id %}
                  <option value="{{ trl.id }}" selected>{{ trl.regnumber }} - {{ trl.type }}</option>
                {% else %}
                  <option value="{{ trl.id }}">{{ trl.regnumber }} - {{ trl.type }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label class="form-label form-label text-ttxt fs-6" for="trk_trailer">Select trailer</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt fs-6" id="trk_driver" name="driver">
              <option value="">--N/A--</option>
              {% for drv in drivers %}
                {% if truck.driver_id == drv.id %}
                  <option value="{{ drv.id }}" selected>{{ drv.fullname }}</option>
                {% else %}
                  <option value="{{ drv.id }}">{{ drv.fullname }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label class="form-label text-ttxt fs-6" for="trk_driver">Select driver</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <textarea class="form-control text-ttxt fs-6" id="trk_describe" placeholder="d" style="min-height:100px;" name="describe">{{ truck.info|safe }}</textarea>
            <label for="trk_describe" class="form-label text-ttxt fs-6">Description (optional)</label>
          </div>
          <input type="hidden" value="{{ truck.id }}" name="truck_id" id="truck_update_id" />
          <input type="hidden" value="{{ truck.horse }}" id="update_truck_horse" />
          <input type="hidden" value="{{ truck.trailer_id }}" id="update_truck_trailer" />
          <input type="hidden" value="{{ truck.driver_id }}" id="update_truck_driver" />

          <div class="form-floating d-block w-100 float-start my-3 text-end">
            <button type="button" class="btn btn-danger d-inline-block me-2" id="trk_cancel_btn" data-bs-dismiss="offcanvas">Cancel</button>
            <button type="submit" class="btn btn-success d-inline-block" id="trk_submit_btn">Update</button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="confirm_delete_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-bblue">
            <h5 class="modal-title text-white">Delete truck..</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="formsms d-block float-start w-100 text-start"></div>
            <div class="form-floating d-block w-100 float-start text-ttxt fs-6 py-3 my-1">
              You're about to delete <strong>{{ truck.reg }}</strong> from the system.<br /><br />After confirmation, it won't appear in any new operations of the system.<br />Are you sure you want to continue?
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="cancel_delete_btn"><i class="fas fa-times-circle"></i> No</button>
            <button type="button" class="btn btn-danger" id="confirm_delete_btn"><i class="fas fa-check-circle"></i> Yes</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="searchdiv input-group w-100 float-start">
      <input type="text" class="form-control text-ttxt fs-6" id="trucks_search" placeholder="Search.." autocomplete="off" />
      <button type="button" class="btn btn-bblue text-white ms-1" id="trucks_filter_clear" title="Clear filters"><i class="fas fa-refresh"></i></button>
      <button class="btn btn-success text-white ms-1" type="button" title="Add new truck" data-bs-toggle="offcanvas" data-bs-target="#new_truck_canvas"><i class="fas fa-plus-circle"></i></button>
    </div>

    <div class="d-block w-100 float-start my-2 table-responsive">
      <table class="table text-ttxt text-center text-nowrap align-middle table-striped" id="trucks_table">
        <thead>
          <tr class="bg-bblight text-white">
            <th>S/n</th>
            <th>Regdate</th>
            <th>Number</th>
            <th>Type</th>
            <th>HorseType</th>
            <th>Model</th>
            <th>Trailer</th>
            <th>Driver</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="offcanvas offcanvas-start" id="new_truck_canvas">
      <div class="offcanvas-header bg-bblue">
        <h5 class="offcanvas-title text-white">Add new truck..</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-llight">
        <form class="d-block w-100 float-start" action="{% url 'truck_operations' %}" id="addnew_truck_form" autocomplete="off">
          <div class="formsms w-100 float-start text-start my-1"></div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trk_regnumber" name="regnumber" placeholder="p" required />
            <label for="trk_regnumber" class="form-label text-ttxt fs-6">Registration number</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trk_type" name="truckType" placeholder="p" required />
            <label for="trk_type" class="form-label text-ttxt fs-6">Truck type</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt fs-6" id="trk_horse" name="horseType" required>
              <option value="">--select--</option>
              <option value="Terias">Terias</option>
              <option value="Double diff">Double diff</option>
            </select>
            <label class="form-label text-ttxt fs-6" for="trk_horse">Select horse type</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trk_model" name="truckModel" placeholder="p" required />
            <label for="trk_model" class="form-label text-ttxt fs-6">Truck model</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt fs-6" id="trk_trailer" name="trailer">
              <option value="">--select--</option>
              {% for trl in trailers %}
                <option value="{{ trl.id }}">{{ trl.regnumber }} - {{ trl.type }}</option>
              {% endfor %}
            </select>
            <label class="form-label form-label text-ttxt fs-6" for="trk_trailer">Select trailer</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt fs-6" id="trk_driver" name="driver">
              <option value="">--select--</option>
              {% for drv in drivers %}
                <option value="{{ drv.id }}">{{ drv.fullname }}</option>
              {% endfor %}
            </select>
            <label class="form-label text-ttxt fs-6" for="trk_driver">Select driver</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <textarea class="form-control text-ttxt fs-6" id="trk_describe" placeholder="d" style="min-height:100px;" name="describe"></textarea>
            <label for="trk_describe" class="form-label text-ttxt fs-6">Description (optional)</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-3 text-end">
            <button type="button" class="btn btn-danger d-inline-block me-2" id="trk_cancel_btn" data-bs-dismiss="offcanvas">Cancel</button>
            <button type="submit" class="btn btn-success d-inline-block" id="trk_submit_btn">Save</button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="date_filter_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-bblue">
            <h5 class="modal-title text-white">Select range of dates..</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="date" class="form-control text-ttxt1" id="min_date" placeholder="d" />
              <label for="min_date" class="text-ttxt1">Minimum date</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="date" class="form-control text-ttxt1" id="max_date" placeholder="d" />
              <label for="max_date" class="text-ttxt1">Maximum date</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-long-arrow-left"></i></button>
            <button type="button" class="btn btn-bblue text-white" id="date_clear"><i class="fas fa-refresh"></i></button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="date_filter_btn"><i class="fas fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="truck_url" value="{% url 'trucks' %}" />
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/fleet/trucks.js' %}"></script>
{% endblock %}
