{% extends 'master.html' %}
{% load static %}
{% block title %}
  Trips | Multiplier ltd
{% endblock %}
{% block styles %}
  <link href="{% static 'css/trips/trips.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
  {% if trip_info %}
    <div class="info_trip">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#trip_basic_info">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#trip_history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#trip_expenses">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#trip_gps">GPS tracker</a>
        </li>
      </ul>

      <div class="tab_container">
        <div id="trip_basic_info" class="tab_div">
          <h5>Trip information..</h5><hr class="my-1" />
          <div class="info">
            <div>
              <b>Trip type:</b> &nbsp; Going
            </div>
            <div>
              <b>Current status:</b> &nbsp; Enroute
            </div>
            <div>
              <b>Record date:</b> &nbsp; 19-Feb-2024 16:52:46
            </div>
            <div>
              <b>Recorded by:</b> &nbsp; Jonathan Masawe
            </div>
            <div>
              <b>Last updated by:</b> &nbsp; -
            </div>
            <div>
              <b>Last updated on:</b> &nbsp; -
            </div>
            <hr class="d-block w-100 my-3" />
            <div>
              <b>Driver:</b> &nbsp; <a href="{% url 'driver_details' 5 %}" class="d-inline-block px-2">Samwel M. Mwakipensile - 0756 852 369</a>
            </div>
            <div>
              <b>TruckTrailer:</b> &nbsp; <a href="{% url 'truck_details' 5 %}" class="d-inline-block px-2">T684BTC/T254ERR</a>
            </div>
            <div>
              <b>Loading point:</b> &nbsp; Kigamboni-DSM
            </div>
            <div>
              <b>Loading date:</b> &nbsp; 06-Mar-2024 16:30
            </div>
            <div>
              <b>Destination:</b> &nbsp; Karagwe-Kagera
            </div>
            <div>
              <b>Current position:</b> &nbsp; Kasulu-Kigoma
            </div>
            <hr class="d-block w-100 my-3" />
            <div>
              <b>Batch:</b> &nbsp; <a href="#" class="d-inline-block px-2">Batch 1.04</a>
            </div>
            <div>
              <b>Customer:</b> &nbsp; Arrays ltd
            </div>
            <div class="d-block w-100">
              <b>Batch description:</b> &nbsp; Any random description paragraph random description
            </div>
            <hr class="d-block w-100 my-3" />
            <div class="d-block w-100">
              <b>Cargo description:</b> &nbsp; Any random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph random description paragraph
            </div>

            <div class="d-block w-100 py-3">
              <button type="button" class="btn btn-bblue text-white d-inline-block m-2" id="trip_updateinfo_btn" data-bs-toggle="modal" data-bs-target="#trip_updateinfo_modal">Update</button>
              <button type="button" class="btn btn-success d-inline-block m-2" id="trp_mark_complete" data-bs-toggle="modal" data-bs-target="#mark_complete_modal">Mark as complete</button>
              <button type="button" class="btn btn-danger d-inline-block m-2" id="trip_delete_btn">Delete</button>
            </div>
          </div>
        </div>
        <div id="trip_expenses" class="tab_div">
          <h5 class="position-relative">Trip's expenses list..{% comment %}<span class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add_expense_modal"><i class="fas fa-plus-circle"></i> Add new</span>{% endcomment %}</h5><hr class="my-1" />
          <div class="d-block w-100 float-start my-1 table-responsive">
            <table class="table text-ttxt table-striped" id="trip_expenses_table">
              <thead>
                <tr class="bg-bblight text-white text-center">
                  <th class="text-center">S/n</th>
                  <th class="text-center">Expense</th>
                  <th class="text-center">Amount</th>
                  <th class="text-center">Details</th>
                </tr>
              </thead>
              <tbody class="text-ttxt">
                <tr>
                  <td class="align-middle">1</td>
                  <td class="align-middle">Fuel cost</td>
                  <td class="align-middle">185,000 TZS</td>
                  <td class="align-middle">Pesa ya mafuta makole dodoma</td>
                </tr>
                <tr>
                  <td class="align-middle">2</td>
                  <td class="align-middle">Fuel cost</td>
                  <td class="align-middle">185,000 TZS</td>
                  <td class="align-middle">Pesa ya mafuta makole dodoma</td>
                </tr>
                <tr>
                  <td class="align-middle">3</td>
                  <td class="align-middle">Fuel cost</td>
                  <td class="align-middle">185,000 TZS</td>
                  <td class="align-middle">Pesa ya mafuta makole dodoma</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="trip_history" class="tab_div">
          <h5 class="position-relative">Trip's history logs.. <span class="btn btn-success" data-bs-toggle="modal" data-bs-target="#trip_addhistory_modal"><i class="fas fa-plus-circle"></i> Add new</span></h5><hr class="my-1" />
          <div class="d-block w-100 float-start my-1 table-responsive">
            <table class="table text-ttxt table-striped" id="trip_history_table">
              <thead>
                <tr class="bg-bblight text-white text-center">
                  <th class="text-center">S/n</th>
                  <th class="text-center">RecordDate</th>
                  <th class="text-center">TripStatus</th>
                  <th class="text-center">PositionReached</th>
                  <th class="text-center">Date</th>
                </tr>
              </thead>
              <tbody class="text-ttxt">
                <tr>
                  <td class="align-middle">1</td>
                  <td class="align-middle">13-Feb-2024</td>
                  <td class="align-middle text-start">Loading</td>
                  <td class="align-middle text-start">Kigamboni-DSM</td>
                  <td class="align-middle">15-Feb-2024</td>
                </tr>
                <tr>
                  <td class="align-middle">2</td>
                  <td class="align-middle">13-Feb-2024</td>
                  <td class="align-middle text-start">Trip start</td>
                  <td class="align-middle text-start">Kigamboni-DSM</td>
                  <td class="align-middle">17-Feb-2024</td>
                </tr>
                <tr>
                  <td class="align-middle">3</td>
                  <td class="align-middle">19-Feb-2024</td>
                  <td class="align-middle text-start">Enroute</td>
                  <td class="align-middle text-start">Kahama-kagongwa</td>
                  <td class="align-middle">18-Feb-2024</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="trip_gps" class="tab_div">
          <h5>Truck's gps tracker..</h5><hr class="my-1" />
        </div>
      </div>
    </div>

    <div class="modal fade" id="trip_updateinfo_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-bblue">
            <h3 class="modal-title text-white">Trip info update..</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <form class="modal-body">
            <div class="form-floating d-block w-100 float-start my-1">
              <select class="form-select text-ttxt" id="trp_up_truck" required>
                <option value="">--select--</option>
                <option value="1">T987CLF/T654DRT</option>
                <option value="2" selected>T159BUP/T964CHD</option>
                <option value="3">T753DYK/T438DWE</option>
              </select>
              <label class="form-label text-ttxt" for="trp_up_truck">Select truck</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <select class="form-select text-ttxt" id="trp_up_batch" required>
                <option value="">--select--</option>
                <option value="1">Batch 1.04 - Client names 1</option>
                <option value="2" selected>Batch 1.02 - Client details 2</option>
                <option value="3">Batch 1.12 - Client names 3</option>
              </select>
              <label class="form-label text-ttxt" for="trp_up_batch">Select batch</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="trp_up_loadingpoint" placeholder="p" required />
              <label for="trp_up_loadingpoint" class="text-ttxt fs-6">Loading point</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="datetime-local" class="form-control text-ttxt fs-6" id="trp_up_loadingdate" placeholder="p" required />
              <label for="trp_up_loadingdate" class="text-ttxt fs-6">Loading date & time</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="datetime-local" class="form-control text-ttxt fs-6" id="trp_up_startdate" placeholder="p" required />
              <label for="trp_up_startdate" class="text-ttxt fs-6">Trip start date & time</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="trp_up_destination" placeholder="p" required />
              <label for="trp_up_destination" class="text-ttxt fs-6">Trip destination</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <textarea class="form-control text-ttxt" id="trp_up_cargo" placeholder="d" style="min-height:150px;"></textarea>
              <label for="trp_up_cargo" class="text-ttxt">Cargo description</label>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="trp_addnew_update_btn" data-bs-dismiss="modal">Update</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="trip_addhistory_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-bblue">
            <h3 class="modal-title text-white">Trip history update..</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <form class="modal-body">
            <div class="form-floating d-block w-100 float-start mb-2 p-2 text-start text-ttxt1 shadow-sm">
              <span class="d-block w-100 float-start"><b>Status:</b> &nbsp; Enroute</span>
              <span class="d-block w-100 float-start"><b>Position:</b> &nbsp; Approaching Kasumbaresa 200</span>
              <span class="d-block w-100 float-start"><b>Date:</b> &nbsp; 28-Feb-2024</span>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="trp_hist_status" placeholder="d" required />
              <label for="trp_hist_status" class="text-ttxt fs-6">New trip/truck status</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="trp_hist_position" placeholder="d" required />
              <label for="trp_hist_position" class="text-ttxt fs-6">New current position</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="date" value="{% now 'Y-m-d' %}" class="form-control text-ttxt fs-6" id="trp_hist_date" placeholder="d" required />
              <label for="trp_hist_date" class="text-ttxt fs-6">Date</label>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="trp_addnew_update_btn" data-bs-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="add_expense_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-bblue">
            <h3 class="modal-title text-white">Add new expense..</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <form class="modal-body">
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="date" max="{% now 'Y-m-d' %}" value="{% now 'Y-m-d' %}" class="form-control text-ttxt fs-6" id="trp_exp_date" placeholder="d" />
              <label for="trp_exp_date" class="text-ttxt fs-6">Expense date</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="trp_exp_name" placeholder="d" />
              <label for="trp_exp_name" class="text-ttxt fs-6">Expense name</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="trp_exp_amount" placeholder="d" />
              <label for="trp_exp_amount" class="text-ttxt fs-6">Expense amount</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <textarea class="form-control text-ttxt" id="trp_exp_details" placeholder="d" style="min-height:150px;"></textarea>
              <label for="trp_exp_details" class="text-ttxt">Expense description (optional)</label>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="trk_submit_permit_btn" data-bs-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="mark_complete_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-bblue">
            <h3 class="modal-title text-white">Complete trip..?</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating d-block w-100 float-start my-1">
              <p class="text-start fs-6 py-2">Confirm that, the trip has been completed. Note that, after marking it as complete, you won't be able to add any further updates/data on this trip. Are you sure to continue..?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Back</button>
            <button type="button" class="btn btn-success" id="trp_complete_btn" data-bs-dismiss="modal">Continue</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="searchdiv input-group w-100 float-start">
      <input type="text" class="form-control text-ttxt fs-5" id="trips_search" placeholder="Search.." autocomplete="off" />
      <button type="button" class="btn btn-bblue text-white ms-1" id="trips_filter_clear" title="Clear filters"><i class="fas fa-refresh"></i></button>
      <button class="btn btn-success text-white ms-1" type="button" title="Add new trip" data-bs-toggle="offcanvas" data-bs-target="#new_trip_canvas"><i class="fas fa-plus-circle"></i></button>
    </div>

    <div class="d-block w-100 float-start my-2 table-responsive">
      <table class="table text-ttxt table-striped" id="trips_table">
        <thead>
          <tr class="bg-bblight text-white text-center">
            <th class="text-center">S/n</th>
            <th class="text-center">Batch</th>
            <th class="text-center">TruckTrailer</th>
            <th class="text-center">Driver</th>
            <th class="text-center">startDate</th>
            <th class="text-center">Status</th>
            <th class="text-center">currentPosition</th>
            <th class="text-center">Type</th>
            <th class="text-center">daysTaken</th>
            <th class="text-center">Complete</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody class="text-ttxt">
          <tr>
            <td class="align-middle">1</td>
            <td class="align-middle text-start">
              <a href="#">Batch 1.03</a>
            </td>
            <td class="align-middle">T856CRD/T749DYF</td>
            <td class="align-middle text-start">Masanja</td>
            <td class="align-middle">02-Mar-2024</td>
            <td class="align-middle text-start">Enroute</td>
            <td class="align-middle text-start">Kibaigwa-Dom</td>
            <td class="align-middle">Going</td>
            <td class="align-middle">10</td>
            <td class="align-middle">No</td>
            <td class="align-middle">
              <a class="btn btn-bblue btn-sm" href="{% url 'trip_details' 5 %}">View</a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">2</td>
            <td class="align-middle text-start">
              <a href="#">Batch 1.03</a>
            </td>
            <td class="align-middle">T415DST/T329DEA</td>
            <td class="align-middle text-start">Edward</td>
            <td class="align-middle">02-Mar-2024</td>
            <td class="align-middle text-start">Breakdown</td>
            <td class="align-middle text-start">Kibaha</td>
            <td class="align-middle">Return</td>
            <td class="align-middle">10</td>
            <td class="align-middle">No</td>
            <td class="align-middle">
              <a class="btn btn-bblue btn-sm" href="{% url 'trip_details' 5 %}">View</a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">3</td>
            <td class="align-middle text-start">
              <a href="#">Batch 1.03</a>
            </td>
            <td class="align-middle">T624EPS/T867EBD</td>
            <td class="align-middle text-start">Masawe</td>
            <td class="align-middle">02-Mar-2024</td>
            <td class="align-middle text-start">Enroute</td>
            <td class="align-middle text-start">Kibaigwa-Dom</td>
            <td class="align-middle">Going</td>
            <td class="align-middle">10</td>
            <td class="align-middle">Yes</td>
            <td class="align-middle">
              <a class="btn btn-bblue btn-sm" href="{% url 'trip_details' 5 %}">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="offcanvas offcanvas-start" id="new_trip_canvas">
      <div class="offcanvas-header bg-bblue">
        <h3 class="offcanvas-title text-white">Add new trip..</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-llight">
        <form class="d-block w-100 float-start">
          <div class="formsms w-100 float-start my-1"></div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt" id="trp_truck1" required>
              <option value="">--select--</option>
              <option value="1">T987CLF/T654DRT</option>
              <option value="2" selected>T159BUP/T964CHD</option>
              <option value="3">T753DYK/T438DWE</option>
            </select>
            <label class="form-label text-ttxt" for="trp_truck1">Select truck</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1 px-1">
            <span class="btn btn-bblue btn-sm text-white float-start" id="trp_newbatch_btn" data-bs-toggle="modal" data-bs-target="#trp_addnewbatch_modal">New batch</span>
            <span class="btn btn-bblue btn-sm text-white float-end" id="trp_addtruck_btn">Add truck</span>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select class="form-select text-ttxt" id="trp_batch" required>
              <option value="">--select--</option>
              <option value="1">Batch 1.04 - Client names 1</option>
              <option value="2">Batch 1.02 - Client details 2</option>
              <option value="3">Batch 1.12 - Client names 3</option>
            </select>
            <label class="form-label text-ttxt" for="trp_batch">Select batch</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trp_loadingpoint" placeholder="p" required />
            <label for="trp_loadingpoint" class="text-ttxt fs-6">Loading point</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="datetime-local" class="form-control text-ttxt fs-6" id="trp_loadingdate" placeholder="p" required />
            <label for="trp_loadingdate" class="text-ttxt fs-6">Loading date & time</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="datetime-local" class="form-control text-ttxt fs-6" id="trp_startdate" placeholder="p" required />
            <label for="trp_startdate" class="text-ttxt fs-6">Trip start date & time</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trp_destination" placeholder="p" required />
            <label for="trp_destination" class="text-ttxt fs-6">Trip destination</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="text" class="form-control text-ttxt fs-6" id="trp_cargoweight" placeholder="p" required />
            <label for="trp_cargoweight" class="text-ttxt fs-6">Cargo weight in tonnes</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <textarea class="form-control text-ttxt" id="trp_cargo" placeholder="d" style="min-height:150px;"></textarea>
            <label for="trp_cargo" class="text-ttxt">Cargo description</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-3 text-end">
            <button type="button" class="btn btn-danger d-inline-block me-2" data-bs-dismiss="offcanvas">Cancel</button>
            <button type="submit" class="btn btn-success d-inline-block" id="trp_submit_btn">Save</button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="trp_addnewbatch_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-bblue">
            <h3 class="modal-title text-white">Create new batch..</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <form class="modal-body">
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="btc_number" placeholder="p" required />
              <label for="btc_number" class="text-ttxt fs-6">Batch number</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <select class="form-select text-ttxt" id="btc_type" required>
                <option value="">--select--</option>
                <option value="Going">Going</option>
                <option value="Return">Return</option>
              </select>
              <label class="form-label text-ttxt" for="btc_type">Select batch type</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="text" class="form-control text-ttxt fs-6" id="btc_client" placeholder="p" required />
              <label for="btc_client" class="text-ttxt fs-6">Client</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <textarea class="form-control text-ttxt" id="btc_describe" placeholder="d" style="min-height:150px;"></textarea>
              <label for="btc_describe" class="text-ttxt">Batch description (optional)</label>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="trp_newbatch_submit_btn" data-bs-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/trips/trips.js' %}"></script>
{% endblock %}
